body {
    background-color: #eaeaea;
    font-family: 'Open Sans Condensed', sans-serif;
    position: relative;
}

a {
    transition: color .2s linear 0s;
}

.top-nav {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
}

.top-nav li {
    display: inline;
    padding: .1rem .5rem;
    border-right: 1px solid #fff;
}

.top-nav li:last-of-type {
    border-right: 0;
}

.top-nav li a {
    color: #e0e0e0;
    text-decoration: none;
}

.top-nav li a:hover, .top-nav li a:focus {
    color: #fff;
}

.site-logo {
    font-size: 2rem;
    line-height: 1;
    font-family: 'Righteous', cursive;
}

.site-logo img {
    max-height: 60px;
}

.site-logo a {
    color: #404040;
}

.site-logo a:hover, .site-logo a:focus {
    text-decoration: none;
    color: #000;
}

.header-item {
    padding: .25rem .4rem;
    cursor: pointer;
    color: #656565;
    transition: color .2s linear 0s;
    font-weight: bold;
    line-height: 2.5;
}

.header-item img {
    max-width: 220px;
    max-height: 55px;
}

.header-item-holder:hover .header-item, .header-item-holder:focus  .header-item {
    color: #000;
}

.nav-item {
    margin-right: 5px;
}

.nav-item:last-of-type {
    margin-right: 0;
}

.nav-item .nav-link {
    padding-top: .2rem;
    padding-bottom: .3rem;
}

.product-item {
    box-shadow: #ccc 0 0 10px 1px;
}

.product-item:hover {
    box-shadow: #aaa 0 0 10px 1px;
}

.product-name {
    font-size: 1.2rem;
    font-weight: 600;
    color: #656565;
}

.product-name.large {
    font-size: 1.8rem;
}

.product-name small {
    font-size: 1rem;
    display: block;
    width: 100%;
}

a.product-name:hover, a.product-name:focus {
    color: #000;
    text-decoration: none;
}

.product-price-old {
    text-decoration: line-through;
    color: #ccc;
    font-weight: 600;
    font-size: 18px;
}

.product-price {
    font-size: 24px;
    font-weight: 600;
}

.footer-logo {
    font-size: 1.65rem;
    font-family: 'Righteous', cursive;
}

.footer-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-nav li {
    margin-top: 10px;
}

.footer-logo a, .footer-nav a{
    color: #e0e0e0;
    text-decoration: none;
}

.footer-logo img {
    max-height: 40px;
}

.social-icon {
    color: #e0e0e0;
    font-size: 13px;
    margin-right: 10px;
}

.footer-logo a:hover, .footer-logo a:focus, .footer-nav a:hover, .footer-nav a:focus, .social-icon:hover, .social-icon:focus {
    color: #fff;
}

.message-holder {
    position: fixed;
    left: 1rem;
    bottom: 1rem;
    width: 400px;
    max-width: calc(100vw - 2rem);
    z-index: 1080;
}

.message-holder .alert {
    box-shadow: #707070 1px 2px 5px;
}

.product-item {
    position: relative;
    overflow: hidden;
}

.new {
    position: absolute;
    top: 0;
    left: -300px;
    z-index: 5;
    background-color: rgba(233, 10, 10, .85);;
    color: #fff;
    padding: 3px 15px;
    width: 0;
    transition: all .3s ease-out 0s;
}

.product-item:hover .new {
    left: 0;
    width: auto;
}

.large-holder {
    border-right: 1px solid #c0c0c0;
}

.large-holder:last-of-type {
    border-right: 0;
}

.large-icon {
    font-size: 45px;
}

.large-text {
    font-size: 25px;
    line-height: 2.6;
}

.slider-img {
    width: 100%;
    height: auto;
}

.large-icon, .large-text {
    color: #6c6c6c;
}

.img-large {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.img-large:hover {
    background-size: 400%;
}

.img-small {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}